@font-face {
  font-family: 'icomoon';
  src:  url('../../../static/fonts/icomoon.eot?qprag7');
  src:  url('../../../static/fonts/icomoon.eot?qprag7#iefix') format('embedded-opentype'),
  url('../../../static/fonts/icomoon.ttf?qprag7') format('truetype'),
  url('../../../static/fonts/icomoon.woff?qprag7') format('woff'),
  url('../../../static/fonts/icomoon.svg?qprag7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-add:before {
  content: "\e900";
}
.icon-banben:before {
  content: "\e901";
}
.icon-banjiguanli:before {
  content: "\e902";
}
.icon-banjiguanli-shi:before {
  content: "\e903";
  color: #5b83e4;
}
.icon-bofang1:before {
  content: "\e904";
}
.icon-bofang2:before {
  content: "\e905";
}
.icon-bofang3:before {
  content: "\e906";
}
.icon-checkwork:before {
  content: "\e907";
}
.icon-clean:before {
  content: "\e908";
  color: #5e89ef;
}
.icon-clock:before {
  content: "\e909";
}
.icon-cup:before {
  content: "\e90a";
}
.icon-datika:before {
  content: "\e90b";
}
.icon-dianji:before {
  content: "\e90c";
}
.icon-diqu:before {
  content: "\e90d";
}
.icon-duanxin:before {
  content: "\e90e";
}
.icon-duoxuan:before {
  content: "\e90f";
}
.icon-fangxing:before {
  content: "\e910";
}
.icon-fangxingkuang:before {
  content: "\e911";
}
.icon-fanhui:before {
  content: "\e912";
}
.icon-fankui:before {
  content: "\e913";
}
.icon-fanyi:before {
  content: "\e914";
}
.icon-fou:before {
  content: "\e915";
}
.icon-group:before {
  content: "\e916";
}
.icon-huodongfanhui .path1:before {
  content: "\e917";
  color: rgb(255, 255, 255);
  opacity: 0.6;
}
.icon-huodongfanhui .path2:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(109, 24, 191);
  opacity: 0.6;
}
.icon-huodongtongzhi:before {
  content: "\e919";
  color: #f4901c;
}
.icon-jia:before {
  content: "\e91a";
}
.icon-jia-hao:before {
  content: "\e91b";
  color: #5e89ef;
}
.icon-jian:before {
  content: "\e91c";
}
.icon-jian-hao:before {
  content: "\e91d";
}
.icon-jiaocaijiangjie:before {
  content: "\e91e";
  color: #88abda;
}
.icon-jiaocaijiangjieyy:before {
  content: "\e91f";
  color: #88abda;
}
.icon-jiaoxuelou:before {
  content: "\e920";
}
.icon-jiazai .path1:before {
  content: "\e921";
  color: rgb(234, 234, 234);
}
.icon-jiazai .path2:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(155, 155, 155);
}
.icon-jiazai .path3:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(157, 155, 155);
}
.icon-jiazai .path4:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(162, 160, 160);
}
.icon-jiazai .path5:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(169, 169, 169);
}
.icon-jiazai .path6:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(177, 177, 177);
}
.icon-jiazai .path7:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(185, 185, 185);
}
.icon-jiazai .path8:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(193, 192, 192);
}
.icon-jiazai .path9:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(202, 201, 201);
}
.icon-jiazai .path10:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(212, 212, 212);
}
.icon-jiazai .path11:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(219, 219, 219);
}
.icon-jiazai .path12:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(226, 226, 226);
}
//.icon-jifen:before {
//  content: "\e92d";
//}
.icon-jindou:before {
  content: "\e92e";
}
.icon-jindoushangcheng:before {
  content: "\e92f";
}
.icon-jindoushangcheng-shi:before {
  content: "\e930";
  color: #5b83e4;
}
.icon-juanzu:before {
  content: "\e931";
  color: #ecb030;
}
.icon-kebendiandujiyy:before {
  content: "\e932";
  color: #c04fd5;
}
.icon-learn:before {
  content: "\e933";
  color: #24e571;
}
.icon-lianxijuan:before {
  content: "\e934";
}
.icon-look:before {
  content: "\e935";
}
.icon-meiyoufabushijuan:before {
  content: "\e936";
  color: #dcdcdc;
}
.icon-msg .path1:before {
  content: "\e937";
  color: rgb(170, 170, 170);
}
.icon-msg .path2:before {
  content: "\e938";
  margin-left: -1.08203125em;
  color: rgb(170, 170, 170);
}
.icon-msg .path3:before {
  content: "\e939";
  margin-left: -1.08203125em;
  color: rgb(170, 170, 170);
}
.icon-msg .path4:before {
  content: "\e93a";
  margin-left: -1.08203125em;
  color: rgb(170, 170, 170);
}
.icon-msg .path5:before {
  content: "\e93b";
  margin-left: -1.08203125em;
  color: rgb(170, 170, 170);
  opacity: 0.8;
}
.icon-msg .path6:before {
  content: "\e93c";
  margin-left: -1.08203125em;
  color: rgb(170, 170, 170);
  opacity: 0.8;
}
.icon-msg .path7:before {
  content: "\e93d";
  margin-left: -1.08203125em;
  color: rgb(170, 170, 170);
  opacity: 0.8;
}
.icon-nan:before {
  content: "\e93e";
}
.icon-nopeople:before {
  content: "\e93f";
}
.icon-nowancheng .path1:before {
  content: "\e940";
  color: rgb(255, 102, 0);
}
.icon-nowancheng .path2:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(255, 255, 0);
}
.icon-nv:before {
  content: "\e942";
}
.icon-paiming:before {
  content: "\e943";
  color: #000;
}
.icon-paragraph:before {
  content: "\e944";
  color: #24e571;
}
.icon-practice:before {
  content: "\e945";
}
.icon-prestudy:before {
  content: "\e946";
  color: #24e571;
}
.icon-qingchu:before {
  content: "\e947";
}
.icon-qizhong:before {
  content: "\e948";
}
.icon-read:before {
  content: "\e949";
}
.icon-reading:before {
  content: "\e94a";
}
.icon-sanjiaoshang:before {
  content: "\e94b";
}
.icon-sanjiaoxia:before {
  content: "\e94c";
}
.icon-scan:before {
  content: "\e94d";
}
.icon-sendwork:before {
  content: "\e94e";
  color: #5e89ef;
}
.icon-shanchu:before {
  content: "\e94f";
}
.icon-shang:before {
  content: "\e950";
}
.icon-share:before {
  content: "\e951";
}
.icon-shenfen:before {
  content: "\e952";
}
.icon-shengyin:before {
  content: "\e953";
}
.icon-shezhijiaocai:before {
  content: "\e954";
  color: #dcdcdc;
}
.icon-shi:before {
  content: "\e955";
}
.icon-shi-jian:before {
  content: "\e956";
}
.icon-shouye:before {
  content: "\e957";
}
.icon-shouye-shi:before {
  content: "\e958";
  color: #5e89ef;
}
.icon-shuaxin:before {
  content: "\e959";
}
.icon-shuji:before {
  content: "\e95a";
}
.icon-test:before {
  content: "\e95b";
}
.icon-text:before {
  content: "\e95c";
}
.icon-tianjiaxuesheng:before {
  content: "\e95d";
  color: #ffb400;
}
.icon-time:before {
  content: "\e95e";
}
.icon-tishi:before {
  content: "\e95f";
}
.icon-todown:before {
  content: "\e960";
  color: #f60;
}
.icon-tongbufudao:before {
  content: "\e961";
  color: #5e89ef;
}
.icon-tongzhi:before {
  content: "\e962";
  color: #de8762;
}
.icon-tongzhiyy:before {
  content: "\e963";
  color: #de8762;
}
.icon-toup:before {
  content: "\e964";
  color: #f60;
}
.icon-touxiang:before {
  content: "\e965";
}
.icon-unfold:before {
  content: "\e966";
}
.icon-wancheng:before {
  content: "\e967";
}
.icon-weiwancheng:before {
  content: "\e968";
  color: #f60;
}
.icon-weixuanzhong:before {
  content: "\e969";
}
.icon-wenben:before {
  content: "\e96a";
  color: #ffbe33;
}
.icon-wenxintishi:before {
  content: "\e96b";
}
.icon-wo:before {
  content: "\e96c";
}
.icon-word:before {
  content: "\e96d";
}
.icon-work .path1:before {
  content: "\e96e";
  color: rgb(170, 170, 170);
}
.icon-work .path2:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(170, 170, 170);
}
.icon-work .path3:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(170, 170, 170);
  opacity: 0.8;
}
.icon-wo-shi:before {
  content: "\e971";
  color: #5e89ef;
}
.icon-write:before {
  content: "\e972";
}
.icon-xiepingyu:before {
  content: "\e973";
}
.icon-xingmin:before {
  content: "\e974";
}
.icon-xiugai:before {
  content: "\e975";
}
.icon-xiugai2:before {
  content: "\e976";
}
.icon-xuanzhong:before {
  content: "\e977";
}
.icon-yanzhengma:before {
  content: "\e978";
}
.icon-yaoqing:before {
  content: "\e979";
}
.icon-yiwanchengceshi:before {
  content: "\e97a";
  color: #dcdcdc;
}
.icon-yixue:before {
  content: "\e97b";
}
.icon-yuedulijie:before {
  content: "\e97c";
  color: #5e89ef;
}
.icon-zanbukaitong:before {
  content: "\e97d";
}
.icon-zanting1:before {
  content: "\e97e";
}
.icon-zanting2:before {
  content: "\e97f";
}
.icon-zhanghaomima:before {
  content: "\e980";
}
.icon-zhankai:before {
  content: "\e981";
}
.icon-zhankaixia:before {
  content: "\e982";
}
.icon-zuoye:before {
  content: "\e983";
  color: #64d785;
}
